<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SinMentor- Events</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/clean-blog.min.css')}}" rel="stylesheet">

</head>

<body>
<!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="home">SinMentor</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="mentors">Mentors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Investors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Events </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Webinars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Community</a>
          </li>
          <span class="border-left pl-xl-4"></span>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/images/event.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Events</h1>
            <span class="subheading">Register for Investors meetup and events</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="container body-content">
  <div class="container">
    <div class="row justify-content-start" style="padding-top:10px;">
       <div class="post-preview">
          <img src="{{url_for('static',filename='images/tb.jpg')}}" alt="Image" height="150" width="150">
        </div>
      <div class="col" style="padding-top:10px;">
        <div>
          <a href="#">
            <h2 class="post-title">
              TechFest
            </h2>
            <h3 class="post-subtitle">
              IIT Bombay
            </h3>
          </a>
          <p class="post-meta">Details of Event</p>
<!--          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>-->
        </div>
      </div>
        <div class="col" >
          <a class="btn btn-primary float-right" href="#">Register&rarr;</a>
        </div>
<!--        <div class="post-preview">-->
<!--          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="row justify-content-start" style="padding-top:10px;">
       <div class="post-preview">
          <img src="{{url_for('static',filename='images/lnm.png')}}" alt="Image" height="150" width="150">
        </div>
      <div class="col" style="padding-top:10px;">
        <div>
          <a href="#">
            <h2 class="post-title">
              Startअब
            </h2>
            <h3 class="post-subtitle">
              LNMIIT , Jaipur
            </h3>
          </a>
          <p class="post-meta">Details of Event</p>
        </div>
      </div>
      <div class="col" >
          <a class="btn btn-primary float-right" href="#">Register&rarr;</a>
        </div>
    </div>

  </div>
</div>

  <!-- Main Content -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; SinMentor</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{url_for('static',filename='js/clean-blog.min.js')}}"></script>

</body>

</html>
